.container {
	padding: 10px;
	height: calc(100vh - 90px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.background {
	position: fixed;
	opacity: 0.6;
	left: 0;
	z-index: -1;
}

.background img {
	object-fit: cover;
}

.image-title {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	margin: 0px auto;
	height: 30vw;
	min-height: 170px;
	padding-bottom: 24px;
	width: 100%;
}

.image-title img {
	max-width: 600px;
	min-width: 200px;
	width: 35vw;
}

.content {
	max-width: 874px;
}

.controls {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin: 24px 0px;
	min-height: 60px;
}

.btn {
	font-size: 15px;
	margin: 0px 22px 0px 0px;
	padding: 0px 24px;
	height: 60px;
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 1.8px;
	text-align: center;
	text-transform: uppercase;
	background: rgb(249, 249, 249);
	border: none;
	color: rgb(0, 0, 0);
}

.btn img {
	width: 32px;
}

.btn:hover {
	background: rgb(198, 198, 198);
}

.btn-trailer {
	font-size: 15px;
	margin: 0px 22px 0px 0px;
	padding: 0px 24px;
	height: 60px;
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 1.8px;
	text-align: center;
	text-transform: uppercase;
	background: rgb(0, 0, 0, 0.3);
	border: 1px solid rgb(249, 249, 249);
	color: rgb(249, 249, 249);
}

.btn-trailer img {
	width: 32px;
}

.btn-trailer:hover {
	background: rgb(198, 198, 198);
}

.subtitle {
	color: rgb(249, 249, 249);
	font-size: 15px;
	min-height: 20px;
}

.description {
	line-height: 1.4;
	font-size: 20px;
	padding: 16px 0px;
	color: rgb(249, 249, 249);
}

@media (max-width: 768px) {
	.btn {
		height: 45px;
		padding: 0px 12px;
		font-size: 12px;
		margin: 0px 10px 0px 0px;
	}

	.btn img {
		width: 25px;
	}

	.btn-trailer {
		height: 45px;
		padding: 0px 12px;
		font-size: 12px;
		margin: 0px 10px 0px 0px;
	}

	.btn-trailer img {
		width: 25px;
	}

	.subtitle {
		font-size: 12px;
	}

	.description {
		font-size: 14px;
	}
}
